.buyForm form{
    display: inline;
    align-items: baseline;
}
.buyForm form input{
    /* width: 40%; */
    margin-bottom: 10px;

}

form input{
    border: 1px solid rgb(228, 214, 214);
    border-radius: 4px;
}
