@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.accordion-button {
  padding: 7px !important;
}

.accordion-body {
  padding: 0px !important;
}
.dropbtn {
  background-color: #626862;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */
.accordion-item {
  background-color: transparent;
  /* border: 1px solid #e7eaf0; */
}
.accordion-item {
  border: none !important;
  margin-left: 16px !important;
}
.accordion-button {
  
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  color: black !important;
  
}
.navbar-vertical .navbar-nav .nav-link {
  padding: 0rem 1rem;
}
.nnav-link {
  display: block;
  padding: 2px 35px !important;
  font-size: 0.875rem;
  font-weight: 500;
  color: #69cc76 ;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
};
.nnav-link:hover { 
  color: #b8553c !important;
  transition: 1s; 
}
